# This file is a placeholder for environment variables required to run this project.

# Google Analytics Measurement ID
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-HWKKJ6NMMD

# Password for protected pages/routes
PAGE_ACCESS_PASSWORD=password
